html, body {
  overflow-x: hidden;
}
header {
  z-index: 1030;
}
main {
  padding-top: 80px;
}

body {
  font-family: Arial, sans-serif;
}
.bg-orange{
background-color: #f57c00;
}

/* Table */
.table-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 14px;
  }
  
  th {
    color: #888;
  }
  
  .paid {
    color: #2e7d32;
    background: #e8f7ee;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .failed {
    color: #d32f2f;
    background: #fdecea;
    padding: 5px 10px;
    border-radius: 5px;
  }
  

/* Sidebar */
.sidebar {
  top: 56px; /* height of navbar */
}
.sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  }
/* Cards width for horizontal scroll 
.min-w-200 {
  min-width: 200px;
}

.cards-row {
  scrollbar-width: thin;
}*/

/* Mobile sidebar overlay feel */
@media (max-width: 767px) {
  #sidebar {
    width: 250px;
    z-index: 1050;
    background: #fff;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    z-index: 1050;
    transition: left 0.3s ease;
  
  }

  .sidebar.show {
    left: 0;
  }

}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
  }
}

/* Sidebar menu styling */
.sidebar-menu .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    border-radius: 8px;
    color: #6c757d;
    font-size: 14px;
    transition: background 0.2s;
  }
  
  /* Icons size */
  .menu-icon {
    width: 18px;
    height: 18px;
  }
  
  /* Hover effect */
  .sidebar-menu .nav-link:hover {
    background: #f5f6fa;
    color: #dc3545;
  }
  
  /* Active (Dashboard highlighted like screenshot) */
  .sidebar-menu .nav-link.active {
    background: #fdeaea;
    color: #dc3545;
    font-weight: 500;
  }
  .table-responsive{
    overflow-x: auto;

  }
